

:root{
    --rs-bgcolor-1:rgb(87, 52, 52);
}

.input_dash{
    width: auto;
    height: 20px;
        border-color:white;
      //   padding: 5px;
        border-width: 0ch;
        text-align: left;
        //  border-color: #25252a;
        border-color: var(--rs-bgcolor-1);
         border-width: 1px;
         border-style: dotted;   
        //  background-color: #25252a;
        background-color: var(--rs-bgcolor-1);
         color: white;
         
     }
     .input_dash:focus{
         background:none;  
         outline:none;  
         border:0px;
      //    padding: 5px;
         border-color: tomato;
         border-width: 1px;
         border-style: dotted;    
         
     }