

:root{
    --rs-bgcolor-1:#062743;

    
}

.input_dash{
    width: auto;
    height: 20px;
        border-color:white;
      
        border-width: 0ch;
        text-align: left;
       
        border-color: var(--rs-bgcolor-1);
         border-width: 1px;
         border-style: dotted;   
        
        background-color: var(--rs-bgcolor-1);
         color: white;
         
     }
     .input_dash:focus{
         background:none;  
         outline:none;  
         border:0px;
      //    padding: 5px;
         border-color: tomato;
         border-width: 1px;
         border-style: dotted;    
         
     }

     .input_title{
        width: auto;
        height: 30px;
        font-weight: bold;
            border-color:white;
          //   padding: 5px;
            border-width: 0ch;
            text-align: left;
            //  border-color: #25252a;
            border-color: var(--rs-bgcolor-1);
             border-width: 1px;
             border-style: dotted;   
            //  background-color: #25252a;
            background-color: var(--rs-bgcolor-1);
             color: white;
             
         }
         .input_title:focus{
             background:none;  
             outline:none;  
             border:0px;
          //    padding: 5px;
             border-color: tomato;
             border-width: 1px;
             border-style: dotted;    
             
         }


         .input_title_bgWhite{
            width: 80px;
            height: 25px;
            font-weight: bold;
                border-color:white;
            
                border-width: 0ch;
                text-align: left;   
                 border-width: 1px;
                 border-style: dotted;   
                background-color: white;
                 color: #262626;
                 
             }
             .input_title_bgWhite:focus{
                 background:none;  
                 outline:none;  
                 border:0px;
              //    padding: 5px;
                 border-color: tomato;
                 border-width: 1px;
                 border-style: dotted;    
                 
             }

             .ant-timeline-item-head-blue {
                color: var(--rs-bgcolor-1);
                border-color: var(--rs-bgcolor-1);
            }

           

            :root{
                .ant-timeline-item-head {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    border: 2px solid var(--rs-bgcolor-1);;
                    border-radius: 100px;
                }
            }


            div.ant-table {
                background: transparent;

                .ant-table-thead > tr > th {
                    color: rgba(0, 0, 0, 0.85);
                    font-weight: 500;
                    text-align: left;
                    background: transparent;
                    border-bottom: 1px solid #fff;
                    transition: background 0.3s ease;
                }
            }

            .ant-tooltip-inner {
                background-color: rgb(136, 182, 185);
              }


              .full-modal {
                .ant-modal {
                  max-width: 100%;
                  top: 0;
                  padding-bottom: 0;
                  margin: 0;
                }
                .ant-modal-content {
                  display: flex;
                  flex-direction: column;
                  height: calc(100vh);
                }
                .ant-modal-body {
                  flex: 1;
                }
              }

          